# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript checks
.tsc/

# Environment variables
.env
.env.test
.env.production
.env.local

# Build outputs
dist/
build/
out/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Server-specific
server/node_modules
server/.env

# Client-specific
client/node_modules
client/.env
client/dist
